<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<style>
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}
</style>
<script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru 
        const uluru = { lat: 17.961356, lng: -102.206459 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 17,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
<body >
    <a href="https://api.whatsapp.com/send?phone=+527531678267&text=Hola%20en%20un%20momento,%20un%20asesor%20se%20pondr%C3%A1%20en%20contacto%20contigo.%20Financiera%20VEDE" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

    <!-- 
    <nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
        <div class="container">


            <a href="index.html" class="navbar-brand mr-lg-5">
                <img src="assets/images/logo.png" alt="" class="logo-dark" height="18" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item mx-lg-1">
                        <a class="nav-link active" href="">Inicio</a>
                    </li>
                    <li class="nav-item mx-lg-1">
                        <a class="nav-link" href="">Productos</a>
                    </li>
                    <li class="nav-item mx-lg-1">
                        <a class="nav-link" href="">Nosotros</a>
                    </li>
                    <li class="nav-item mx-lg-1">
                        <a class="nav-link" href="">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    NAVBAR END -->

    <!-- START HERO -->
    <section class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="mt-md-4">
                        <h1 class="text-white font-weight-normal mb-4 mt-3 hero-title">
                            Bienvenido a Financiera VEDEL
                        </h1>

                        <p class="mb-4 font-16 text-white-50">Somos una empresa dedicada el otorgamiento de créditos para negocios.</p>

                        <a href="https://api.whatsapp.com/send?phone=+527531678267" target="_blank" class="btn btn-success">Envianos Whats App <i
                                class="fa fa-whatsapp"></i><br></a>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2">
                    <div class="text-md-right mt-3 mt-md-0">
                        <%= image_tag 'startup.svg', width: 400, height: 160, class: 'img-fluid mx-auto d-block' %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HERO -->


    

        <!-- START PRICING -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <%= image_tag 'logo.png', width: 600, height: 240, class: 'img-fluid mx-auto d-block' %><br><br><br><br>
                    <div class="text-center">
                        <h1>Nuestros <span class="text-primary">Productos</span></h1>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">Crédito grupal</p>
                            <ul class="card-pricing-features">
                              <li>Está dirigido a personas empresarios o microempresarios que tengan un negocio y quieran hacerlo crecer o deseen emprender un negocio. Al formar un grupo aceptan ser solidarios unos con otros y apoyarse para sacar el grupo adelante.</li>
                            </ul>
                            <h2 class="card-pricing-price"><span>Requisitos</span></h2>
                            <ul class="card-pricing-features">
                              <li>Identificación oficial vigente</li>
                              <li>Comprobante de domicilio actualizado</li>
                              <li>Tener un negocio propio o querer iniciar uno</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Pricing_card -->
                </div>
                <!-- end col -->

                 <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">Crédito Personal Grupal</p>
                            <ul class="card-pricing-features">
                              <li>El crédito Personal Grupal es un producto adicional al crédito grupal que se puede otorgar preferentemente a la persona encargada de dirigir el grupo. Se podrá otorgar una línea de crédito inicial de hasta 10,000 mil pesos con pagos fijos mensuales.</li>
                            </ul>
                            <h2 class="card-pricing-price"><span>Requisitos</span></h2>
                            <ul class="card-pricing-features">
                              <li>Identificación oficial vigente</li>
                              <li>Comprobante de domicilio actualizado</li>
                              <li>Tener un negocio propio o querer iniciar uno</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Pricing_card -->
                </div>

                 <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">Crédito Individual</p>
                            <ul class="card-pricing-features">
                              <li>El crédito individual es un producto que va dirigido preferentemente para personas mayores de 18 años que tengan un negocio y que pretendan adquirir mercancías, comprar maquinaria, pagar rentas, o realizar algún gasto que le permita hacer crecer su negocio. Se podrá otorgar una línea de crédito inicial de 10,000 hasta 30,000 con pagos fijos mensuales.</li>
                            </ul>
                            <h2 class="card-pricing-price"><span>Requisitos</span></h2>
                            <ul class="card-pricing-features">
                              <li>Identificación oficial vigente</li>
                              <li>Comprobante de domicilio actualizado</li>
                              <li>Tener un negocio propio o querer iniciar uno</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Pricing_card -->
                </div>

            </div>

        </div>
    </section>
    <!-- END PRICING -->
 

    <!-- START FEATURES 1 -->
    <section class="py-5 bg-light-lighten border-top border-bottom border-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                      <h1><span class="text-primary">Misión</span></h1>
                      <h3>Otorgar  <span class="text-primary">créditos</span> sustentables y de  <span class="text-primary">calidad</span> a todos nuestros clientes</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                      <h1><span class="text-primary">Visión</span></h1>
                      <h3>Ser la empresa financiera número uno en todo el <span class="text-primary">mundo</span> </h3>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                      <h1><span class="text-primary">Valores</span></h1>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <h5 class="mt-3 f-17">Honestidad</h5>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="demo-box text-center mt-3 mt-lg-0">
                        <h5 class="mt-3 f-17">Compromiso</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="demo-box text-center mt-3 mt-lg-0">
                        <h5 class="mt-3 f-17">Respeto</h5>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                
                <div class="col-lg-4">
                    <div class="demo-box text-center">
                        <h5 class="mt-3 f-17">Tolerancia</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="demo-box text-center mt-3 mt-lg-0">
                        <h5 class="mt-3 f-17">Trabajo en equipo</h5>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="demo-box text-center mt-3 mt-lg-0">
                        <h5 class="mt-3 f-17">Disciplina</h5>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END FEATURES 1 -->

    
    <!-- START CONTACT -->
    <section class="py-5 bg-light-lighten border-top border-bottom border-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3><span class="text-primary">Contáctanos</span></h3>
                        <p class="text-muted mt-2">Envianos tus datos y nuestros colaboradores se prodrán en contacto contigo.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-3">
                <div class="col-md-4">
                    <p class="text-muted"><span class="font-weight-bold">Teléfono:</span><br> <span class="d-block mt-1">75 35 37 04 69</span></p>
                    <p class="text-muted mt-4"><span class="font-weight-bold">Email Address:</span><br> <span class="d-block mt-1">vedelfiancial@vedel.com.mx</span></p>
                    <p class="text-muted mt-4"><span class="font-weight-bold">Dicrección:</span><br> <span class="d-block mt-1">Avenida melchor Ocampo 27 Int B Planta Alta, Infonavit Nvo Horizonte, Ciudad Lázaro Cárdenas Michoacán.</span></p>
                    <p class="text-muted mt-4"><span class="font-weight-bold">Horario de atención:</span><br> <span class="d-block mt-1">10:00AM a 7:00PM</span></p>
                </div>

                <div class="col-md-8">
                    <%= form_tag '/send_contact_email', authenticity_token: false, method: :post do %>
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <%= label_tag :name, "Nombre" %>
                                    <%= text_field_tag :name, '', placeholder: "Nombre...", class: 'form-control form-control-light' %>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <%= label_tag :email, "Correo Electrónico" %>
                                    <%= text_field_tag :email, '', placeholder: "Ingresa tu correo electronico...", class: 'form-control form-control-light' %>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <%= label_tag :message, "Mensaje" %>
                                    <%= text_area_tag :message, '', placeholder: "Escripe tu mensaje aquí...", class: 'form-control form-control-light' %>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12 text-right">
                                <%= submit_tag "Enviar mensaje", class: 'btn btn-primary' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    <!-- END CONTACT -->

    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0I_J9eHsulS85PcOgYYJubd5MBRu9aAo&callback=initMap&libraries=&v=weekly"
      async
    ></script>


  <!-- START FOOTER -->
  <footer class="bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-lg-12"><br>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                  Aviso de Privacidad
                </button>
              </div><br><br><br><br><br>
          </div>
      </div>
  </footer>
  <!-- END FOOTER -->
</body>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">AVISO DE PRIVACIDAD PARA SOLICITANTES DE CREDITO INDIVIDUAL/GRUPAL/PROVEEDORES DE SERVICIOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          VERSION 1.0
        </p>
        <p>
          Con fundamento en la Ley Federal de Protección de Datos Personales en Posesión de Particulares, manifestamos que Vedel Financial S.A. de C.V. SOFOM ENR, tiene su domicilio en Calle Javier Mina # 225 Planta Baja, Colonia Centro Ciudad Lázaro Cárdenas Michoacán.
        </p>
        <p>
          QUE DATOS PERSONALES UTILIZAMOS
        </p>
        <p>
          Los datos personales que utilizaremos y resguardaremos son: datos de identificación, contacto, datos laborales y académicos, datos de ubicación física de domicilio, datos jurídicos y datos personales patrimoniales.
        </p>
        <p>
          PARA QUE UTILIZAMOS SUS DATOS
        </p>
        <p>
          Sus datos serán utilizados con la finalidad de: identificarlo, poder comunicarse con usted, verificar sus referencias y teléfonos de contacto, consultar su información e historial crediticio en las sociedades de información crediticia para poder realizar una evaluación de su historial crediticio, así como conocer su capacidad de pago, con el fin de otorgarle un servicio eficiente y responsable. Así mismos sus datos pueden ser utilizados para realizar gestiones de cobranza extrajudicial o legal, en caso de que fuera necesario.
        </p>
        <p>  
          En caso de que la empresa considere pertinente la Trasferencia de sus Datos Personales de Identificación o de ubicación, con la única finalidad de garantizar el cumplimiento de las obligaciones derivadas de su contrato, usted autoriza desde este momento dicha trasferencia con las limitaciones enunciadas en el presente párrafo.
        </p>
        <p>  
          CON QUIEN COMPARTIMOS SU INFORMACION
        </p>  
        <p>
          Se podrá realizar la transferencia de sus datos personales en caso de que exista la cesión de cartera a una empresa legalmente constituida para ello, por lo que, desde este momento, nos autoriza la trasferencia de sus datos personales, en caso de que sea necesario la cesión o venta de cartera, o para que se de cabal cumplimiento a las obligaciones derivadas del contrato que suscriba con la empresa.
        </p>
        <p>
          COMO SE PUEDE NEGAR AL TRATAMIENTO, LIMITACION O REVOCACION DE SU CONSENTIMIENTO
        </p>
        <p>
          En caso de que Usted desee negarse al tratamiento de sus datos personales o solicitar la limitación del mismo, deberá manifestarlo en el momento de la firma del contrato con la persona que esta entregado su crédito o manifestarlo personalmente en nuestras instalaciones. En caso de que desee revocar el tratamiento de sus datos, podrá hacerlo en el momento en que el asesor de crédito este recabando sus datos, realizando visitas de verificación de domicilio y/o negocio, o este levantando la solicitud de crédito correspondiente.
        </p>
        <p>
          COMO PUEDE EJERCER SUS DERECHOS DE ACESSO, RECTIFICACION, CANCELACION Y OPOSICION
        </p>
        <p>
          Para que pueda ejercer sus derechos de ACCESO, RECTIFICACION, CANCELACION Y OPOSICION a través de una solicitud por escrito dirigida al encargado de protección de datos personales, la cual deberá ser presentada en el domicilio indicado en el presente aviso, o vía correo electrónico a vedelfinancial@vedel.com.mx,  adjuntando copia de su identificación oficial. Así mismo deberá indicar los datos personales de su solicitud y en caso de RECTIFICACION proporcionar la documentación que sustente la misma. Podrá realizar la cancelación del uso de sus datos personales liquidando su crédito y solicitando por escrito dirigida al encargado de protección de datos personales, la cual deberá ser presentada en el domicilio indicado en el presente aviso, o vía correo electrónico a vedelfiancial@vedel.com.mx,  adjuntando copia de su identificación oficial.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
