<%= form_with(model: personal_document, remote: true, id: 'add_personal_document_form') do |f| %>
  <div class="form-group row">
    <%= f.label 'Tipo Documento:', class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.select :document_type_id, options_for_select(DocumentType.all.map{|c| [c.name, c.id]}), class: 'custom-select' %>
    </div>
  </div><br>
  <div class="form-group row">
    <%= f.label 'Documento:', class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.file_field(:document, class: 'form-control')%>
    </div>
  </div><br>

  <%= f.hidden_field :client_id, value: @client.id %>

  <div class="row col-md-2 offset-md-10">
    <%= f.submit('Guardar', class: 'text-center btn btn-success' ) %>
  </div>
<% end %>


<script>
  $('#add_personal_document_form').submit(function() {
    $('#editPersonalDocumentModal').modal('hide');
  });

  $('#editPersonalDocumentModal').on('hidden.bs.modal', function () {
    setTimeout(function(){ $('#editPersonalDocumentModal form')[0].reset(); }, 2000);
  });
</script>