  <div class="container">
  <br><br><br>
  <h1 class="text-center">Usuarios</h1>
  <br><br><br>
  <%= link_to 'Nuevo', new_user_registration_path, class: 'btn btn-primary offset-md-10 col-md-2' %>
  <br><br>
  <table id="dttb" class="table table-hover dt-responsive nowrap w-100">
    <thead>
      <tr>
        <th>Username</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Activo</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.username.capitalize %></td>
          <td><%= u.name.capitalize %></td>
          <td><%= u.last_name.capitalize %></td>
          <td><%= u.mail %></td>
          <td>
            <% if u.active %>
              <%= fa_icon 'check-circle', class: "fa-2x text-success" %>
            <% else %>
              <%= '' %>
            <% end %>
          </td>
          <td>
            <% if current_user.role_can_edit_users %>  
              <%= link_to 'Editar', edit_user_path(u), class: 'btn  btn-sm btn-outline-warning' %>
            <% end %>
          </td>
          <td>
            <% if current_user.role_can_delete_users %>  
              <%= link_to 'Eliminar', user_path(u), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Estás seguro?' }  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $("#dttb").dataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "language": {
            "lengthMenu": "Mostrando _MENU_ renglones por página",
            "zeroRecords": "No hay nada - disculpa",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay datos disponibles",
            "infoFiltered": "(filtered from _MAX_ total de renglones)",
            "sSearch": "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sPrevious": "Anterior",
              "sNext":     "Siguiente",
              "sLast":     "Último"
            },
            "buttons": {
                "copy": "Copiar",
                "print": "Imprimir"
            }
        }
    });
  });
</script>