
  <div class="container">
  <br><br><br>
  <h1 class="text-center">Clientes</h1>
  <br><br><br>
  <% if current_user.role_can_create_clients %>  
    <%= link_to 'Nuevo', new_client_path, class: 'btn btn-primary offset-md-10 col-md-2' %>
  <% end %>
  <br><br>
  <table id="dttb" class="table table-hover dt-responsive nowrap w-100">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Fecha de nacimiento</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |c| %>
        <tr>
          <td><%= c.name&.capitalize %></td>
          <td><%= c.last_name&.capitalize %></td>
          <td><%= c.mother_last_name&.capitalize %></td>
          <td><%= c&.birth_date&.strftime('%d/%m/%Y') %></td>
          <td>
            <% if current_user.role_can_edit_clients %>
              <%= link_to 'Editar', edit_client_path(c), class: 'btn  btn-sm btn-outline-warning' %></td>
            <% end %>
          <td>
            <% if current_user.role_can_delete_clients %>
              <%= link_to 'Eliminar', client_path(c), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Estás seguro?' }  %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $("#dttb").dataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "language": {
            "lengthMenu": "Mostrando _MENU_ renglones por página",
            "zeroRecords": "No hay nada - disculpa",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay datos disponibles",
            "infoFiltered": "(filtered from _MAX_ total de renglones)",
            "sSearch": "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sPrevious": "Anterior",
              "sNext":     "Siguiente",
              "sLast":     "Último"
            },
            "buttons": {
                "copy": "Copiar",
                "print": "Imprimir"
            }
        }
    });
  });
</script>
