<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Hola se ha creado un grupo con los siguientes datos</h1>
    <ul>
      <li>Nombre: <%= @loan.name %></li>
      <li>Ciclo: <%= @loan.cycle %></li>
      <li>Monto: <%= @loan.loan_amount %></li>
      <li>Comienza: <%= @loan.start_date&.strftime("%F") %></li>
      <li>Termina: <%= @loan.end_date&.strftime("%F") %></li>
    </ul>
  </body>
</html>
