<div class="container">
  <br><br><br>
  <h1 class="text-center">Tipos de contactos</h1>
  <br><br><br>
  <%= link_to 'Nuevo', new_contact_type_path, class: 'btn btn-primary offset-md-10 col-md-2' %>
  <br><br>
  <table id="dttb" class="table table-hover dt-responsive nowrap w-100">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Activo</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <% @contact_types.each do |contact| %>
        <tr>
          <td><%= link_to contact.name.capitalize, edit_contact_type_path(contact) %></td>
          <td>
            <% if contact.active %>
              <%= fa_icon 'check-circle', class: "fa-2x text-success" %>
            <% else %>
              <%= '' %>
            <% end %>
          </td>
          <td><%= link_to 'Editar', edit_contact_type_path(contact), class: 'btn  btn-sm btn-outline-warning' %></td>
          <td><%= link_to 'Eliminar', contact_type_path(contact), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Estás seguro?' }  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $("#dttb").dataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "language": {
            "lengthMenu": "Mostrando _MENU_ renglones por página",
            "zeroRecords": "No hay nada - disculpa",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay datos disponibles",
            "infoFiltered": "(filtered from _MAX_ total de renglones)",
            "sSearch": "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sPrevious": "Anterior",
              "sNext":     "Siguiente",
              "sLast":     "Último"
            },
            "buttons": {
                "copy": "Copiar",
                "print": "Imprimir"
            }
        }
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>