<div class="container"><br><br>
  <%= render partial: 'loans/loan_action_items', locals: { loan: @loan } %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script><br><br><br>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Grupo</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Movimientos</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane  show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br>
      <div class='row col-md-12'>
        <div class='col-md-8'>
          <hr>
          <%= render partial: 'loans/loan_form', locals: { loan: @loan } %>
        </div>
        <div class='col-md-4' id="grid_loan_resume">
          <%= render partial: 'loans/table_loan_resume', locals: { loan: @loan } %>
        </div>
      </div>
    </div>
    <div class="tab-pane " id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <br><br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Buscador de clientes
      </button>
      <br><br>
      <div id="loan_clients_grid">
        <%= render partial: 'loan_clients/table_loan_clients', locals: { clients: @clients, loan: @loan } %>
      </div>
    </div>
    <div class="tab-pane " id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <br><br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMovementModal">
        Agregar movimiento
      </button>
      <br><br>
      <div id="loan_movements_grid">
        <%= render partial: 'loan_movements/table_loan_movements', locals: { client_movements: @client_movements, loan: @loan } %>
      </div>
    </div>
  </div>

  <div class="row col-md-12">
    <div id="grid_table_amortization">
      <%= render partial: 'loan_clients/table_amortization', locals: { weekly_payments: @weekly_payments } %>
    </div>
  </div>
</div>

<div id="saldar_modal">
  <div class="modal " id="showSaldoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Saldar Préstamo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="button_modal_close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 class="text-center">
            Para saldar este préstamo el cliente debe pagar <b><%= "#{number_to_currency(@last_weekly_payment, precision: 2)}" %> MXN</b>
          </h4>
          <%= link_to 'Saldar ', { controller: 'loans', action: 'update', loan: { id: @loan.id, state_id: 3 }}, method: :put, data: { confirm: 'Estás seguro?. Este cambio es irreversible' }, class: 'btn btn-outline-danger col-md-2' %>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'loans/add_movement_modal', locals: { loan: @loan } %>
<%= render partial: 'loans/search_client_modal', locals: { clients: @clients } %>
<%= render partial: 'loans/add_client_modal' %>
<%= render partial: 'loans/add_amount_client_loan_modal', locals: { loan: @loan } %>

<script>
  $('#loan_start_date').change(function() {
    var start_date = $('#loan_start_date').val()
    var start_date_converted = new Date(start_date.slice(0,4) + "/" + start_date.slice(5,7) + "/" + start_date.slice(8,10));
    var end_date_converted = new Date(start_date_converted.getTime() + 105 * 24 * 60 * 60 * 1000);
    var end_date = end_date_converted.toISOString().slice(0,10);

    $('#loan_end_date').val(end_date);
    $('#start_date_label').text(start_date);
    $('#end_date_label').text(end_date);
  });

  $('#add_client_form').submit(function() {
    var name = $('#client_name').val();
    var last_name = $('#client_last_name').val();
    var mother_last_name = $('#client_mother_last_name').val();
    var birth_date = $('#client_birth_date').val();

    $('#loan_client_name').val(name);
    $('#loan_client_last_name').val(last_name);
    $('#loan_client_mother_last_name').val(mother_last_name);
    $('#loan_client_birth_date').val(birth_date);
  });

  $('#add_loan_client_form').submit(function() {
    $('#amountLoanModal').modal('hide');
    $('#addClientModal').modal('hide');
    $('#exampleModal').modal('hide');
    $('#addMovementModal').modal('hide');
  });

  $('#add_loan_movement_form').submit(function() {
    $('#amountLoanModal').modal('hide');
    $('#addClientModal').modal('hide');
    $('#exampleModal').modal('hide');
    $('#addMovementModal').modal('hide');
  });

  $('#addMovementModal form').submit( function () {
    setTimeout(function(){ $('#addMovementModal form')[0].reset(); }, 2000);
  });

  $('#exampleModal form').submit( function () {
    setTimeout(function(){ $('#exampleModal form')[0].reset(); }, 2000);
  });

  $('#addClientModal form').submit( function () {
    setTimeout(function(){ $('#addClientModal form')[0].reset(); }, 2000);
  });

  $('#amountLoanModal form').submit( function () {
    setTimeout(function(){ $('#amountLoanModal form')[0].reset(); }, 2000);
  });
  
</script>
