<div class="container">
  <br><br>

  <%= link_to 'Listado de préstamos', loans_path, class: 'btn btn-primary float-right' %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

  <br><br><br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Grupo</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Movimientos</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane  show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br>
      <div class='row col-md-12'>
        <div class='col-md-8'>
          <hr>
          <%= form_with model: @loan, local: true do |f| %>
            <div class="form-group row">
              <%= f.label 'Grupo:', class: 'col-sm-2 col-form-label font-weight-bold' %>
              <div class="col-sm-10">
                <%= f.text_field :name, class: 'form-control'%>
              </div>
            </div><br>
            <div class="form-group row">
              <%= f.label 'Porcentaje interés:', class: 'col-sm-2 col-form-label font-weight-bold' %>
              <div class="col-sm-10">
                <%= f.number_field :interest_percent, value: 5.0, class: 'form-control'%>
              </div>
            </div><br>
            <%= f.hidden_field :state_id, value: 1 %>
            <%= f.hidden_field :end_date, value: nil %>
            <div class="form-group row">
              <%= f.label 'Fecha inicial:', class: 'col-sm-2 col-form-label font-weight-bold' %>
              <div class="col-sm-10">
                <%= f.date_field :start_date, class: 'form-control'%>
              </div>
            </div><br>
            <div class="form-group row">
              <%= f.label 'Asesor:', class: 'col-sm-2 col-form-label font-weight-bold' %>
              <div class="col-sm-10">
                <%= f.text_field :adviser_name, class: 'form-control'%>
              </div>
            </div><br>
            <div class="form-group row">
              <%= f.label 'Ciclo:', class: 'col-sm-2 col-form-label font-weight-bold' %>
              <div class="col-sm-10">
                <%= f.number_field :cycle, value: 1, class: 'form-control'%>
              </div>
            </div><br>

            <div class="form-group row">
              <%= f.label 'Lugar de pago:', class: 'col-sm-2 col-form-label font-weight-bold' %>
              <div class="col-sm-10">
                <%= f.text_field :address_contract, class: 'form-control'%>
              </div>
            </div><br>

            <div class="row col-md-2 offset-md-10">
              <%= f.submit "Guardar", class: 'text-center btn btn-success' %>
            </div>
            <br><br><br>
          <% end %>
        </div>
        <div class='col-md-4'>
          <hr>
          <h5 class='text-center'>Resúmen</h5>
          <table style="border: 1px solid transparent" class="col-md-12">
            <tr>
              <td>Estado</td>
              <td></td>
            </tr>
            <tr>
              <td>Préstamo</td>
              <td></td>
            </tr>
            <tr>
              <td>Interéses</td>
              <td></td>
            </tr>
            <tr>
              <td>Pago Semanal</td>
              <td></td>
            </tr>
            <tr>
              <td>Garantia</td>
              <td></td>
            </tr>
            <tr>
              <td>Fecha Inicial</td>
              <td id="start_date_label"></td>
            </tr>
            <tr>
              <td>Fecha Final</td>
              <td id="end_date_label"></td>
            </tr>
            <tr>
              <td>Semanas</td>
              <td>16</td>
            </tr>  
          </table>
        </div>
      </div>
    
    </div>
    <div class="tab-pane " id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Buscador de clientes
      </button>

    </div>
    <div class="tab-pane " id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
</div>


<!-- Modal -->
<div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addClientModal">
          Agregar
        </button><br><br>
        <%= form_with(url: '/search_clients', method: :post) do %>
          <div class="form-group row">
            <div class="col-sm-10">
              <%= text_field_tag(:q, nil, placeholder: 'Buscar clientes', class: 'form-control')%>
            </div>
          </div><br>
          <div class="row col-md-2 offset-md-10">
            <%= submit_tag('Search', class: 'text-center btn btn-success') %>
          </div>
        <% end %>

        <div class="list-group">
          <div id="clients_grid">
            <%= render partial: 'clients/table_clients', locals: { clients: @clients } %>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="modal " id="addClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: Client.new, url: '/add_client', method: :post, remote: true, id: 'add_client_form') do |f| %>
          <div class="form-group row">
            <%= f.label 'Nombre:', class: 'col-sm-2 col-form-label font-weight-bold' %>
            <div class="col-sm-10">
              <%= f.text_field(:name,  class: 'form-control')%>
            </div>
          </div><br>
          <div class="form-group row">
            <%= f.label 'Apellido paterno:', class: 'col-sm-2 col-form-label font-weight-bold' %>
            <div class="col-sm-10">
              <%= f.text_field(:last_name, class: 'form-control')%>
            </div>
          </div><br>
          <div class="form-group row">
            <%= f.label 'Apellido materno:', class: 'col-sm-2 col-form-label font-weight-bold' %>
            <div class="col-sm-10">
              <%= f.text_field(:mother_last_name, class: 'form-control')%>
            </div>
          </div><br>
          <div class="form-group row">
            <%= f.label 'Fecha nacimiento:', class: 'col-sm-2 col-form-label font-weight-bold' %>
            <div class="col-sm-10">
              <%= f.date_field(:birth_date, class: 'form-control')%>
            </div>
          </div><br>
          <div class="row col-md-2 offset-md-10">
            <%= f.submit('Guardar', class: 'text-center btn btn-success', 'data-toggle': "modal", 'data-target': "#amountLoanModal" ) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal " id="amountLoanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Monto de Préstramo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: LoanClient.new, url: '/loan_clients', method: :post, remote: true, id: 'add_loan_client_form') do |f| %>
          <div class="form-group row">
            <%= f.label 'Monto:', class: 'col-sm-2 col-form-label font-weight-bold' %>
            <div class="col-sm-10">
              <%= f.text_field(:amount,  class: 'form-control')%>
            </div>
          </div><br>
          <%= f.hidden_field :name, value: nil %>
          <%= f.hidden_field :last_name, value: nil %>
          <%= f.hidden_field :mother_last_name, value: nil %>
          <%= f.hidden_field :birth_date, value: nil %>
          <div class="row col-md-2 offset-md-10">
            <%= f.submit('Guardar', class: 'text-center btn btn-success' , id: 'btn_add_amount_submit') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

$('#loan_start_date').change(function() {
    var start_date = $('#loan_start_date').val()
    var start_date_converted = new Date(start_date.slice(0,4) + "/" + start_date.slice(5,7) + "/" + start_date.slice(8,10));
    var end_date_converted = new Date(start_date_converted.getTime() + 105 * 24 * 60 * 60 * 1000);
    var end_date = end_date_converted.toISOString().slice(0,10);

    $('#loan_end_date').val(end_date);
    $('#start_date_label').text(start_date);
    $('#end_date_label').text(end_date);
  });

  $('#add_client_form').submit(function() {
    var name = $('#client_name').val();
    var last_name = $('#client_last_name').val();
    var mother_last_name = $('#client_mother_last_name').val();
    var birth_date = $('#client_birth_date').val();

    $('#loan_client_name').val(name);
    $('#loan_client_last_name').val(last_name);
    $('#loan_client_mother_last_name').val(mother_last_name);
    $('#loan_client_birth_date').val(birth_date);
  });

  $('#btn_add_amount_submit').click(function() {
    $('#amountLoanModal').modal('hide');
    $('#addClientModal').modal('hide');
    $('#exampleModal').modal('hide');
  });

</script>