<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

        <div class="auth-fluid">
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-left">
                            <a href="index.html" class="logo-dark">
                                <span><%= image_tag 'logo.png', width: 200, height: 80 %></span>
                            </a>
                        </div>

                        <!-- title-->
                        <h4 class="mt-0">Ingresar</h4>
                        <p class="text-muted mb-4">Ingrese su nombre de usuario y contraseña para acceder a la cuenta.</p>

                        <!-- form -->
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login-form') do |f| %>
        <div class="form-group">
          <%= f.label 'Usuario:' %><br />
          <%= f.text_field :login, autofocus: true, class: 'form-control' %>
        </div><br><br>

        <div class="form-group">
          <%= f.label 'Contraseña:' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div><br>

        <div class="actions">
          <%= f.submit("Ingresar", class: 'btn btn-primary btn-block') do %>
            <%= "<i class='mdi mdi-login'></i> Log In".html_safe %>
          <% end %>
        </div>
      <% end %>
                        <!-- end form-->


                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->

            <!-- Auth fluid right content -->
            <div class="auth-fluid-right text-center">
                <div class="auth-user-testimonial">
                    <h2 class="mb-3">Delve Financiera!</h2>
                </div> <!-- end auth-user-testimonial-->
            </div>
            <!-- end Auth fluid right content -->
        </div>
        <!-- end auth-fluid-->


    </body>