<br><br>
<%= link_to 'Ir al listado', roles_path, class: 'btn btn-outline-primary' %>
<div class=" col-md-8 offset-md-2 card">
  <div class="card-body">
    <% if @role.errors.any? %>
      <div id="error_explanation">
        <% @role.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% end %>
      </div>
    <% end %>
    <br><br>
    <%= form_with model: @role, local: true do |f| %>
      <div class="form-group row">
        <%= f.label 'Nombre:', class: 'col-sm-2 col-form-label font-weight-bold' %>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>
      <br><br>
      <h5 class='text-center'>Permisos</h5>
      <div class="form-group row">
        <table id="dttb" class="table table-hover">
          <thead>
            <tr>
              <th>Modelo</th>
              <th>Ver</th>
              <th>Eliminar</th>
              <th>Editar</th>
              <th>Crear</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label 'Direcciónes de clientes:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_client_address, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_client_address, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_client_address, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_client_address, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Datos de contacto de clientes:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_client_contact_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_client_contact_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_client_contact_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_client_contact_types, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Clientes:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_clients, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_clients, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_clients, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_clients, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Catálagos de tipos de contactos:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_contact_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_contact_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_contact_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_contact_types, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Contratos:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_contracts, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_contracts, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_contracts, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_contracts, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Catalagos de documentos de clientes:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_document_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_document_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_document_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_document_types, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Clientes en los préstamos:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_loan_clients, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_loan_clients, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_loan_clients, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_loan_clients, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Movimientos semanales:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_loan_movements, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_loan_movements, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_loan_movements, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_loan_movements, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Préstamos:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_loans, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_loans, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_loans, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_loans, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Movimientos:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_movement_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_movement_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_movement_types, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_movement_types, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Documentos de clientes:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_personal_documents, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_personal_documents, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_personal_documents, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_personal_documents, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Roles:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_roles, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_roles, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_roles, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_roles, class: 'form-check-input'%></td>
            </tr>
            <tr>
              <td><%= f.label 'Estados de movimientos:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_states, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_states, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_states, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_states, class: 'form-check-input'%></td>
            </tr>

            <tr>
              <td><%= f.label 'Usuarios de la plataforma:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box :can_view_users, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_delete_users, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_edit_users, class: 'form-check-input'%></td>
              <td><%= f.check_box :can_create_users, class: 'form-check-input'%></td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="row col-md-2 offset-md-10">
        <%= f.submit "Guardar", class: 'text-center btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
