<br><br>
<%= link_to 'Ir al listado', roles_path, class: 'btn btn-outline-primary' %>
<div class=" col-md-8 offset-md-2 card">
  <div class="card-body">
    <% if @role.errors.any? %>
      <div id="error_explanation">
        <% @role.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% end %>
      </div>
    <% end %>
    <br><br>
    <%= form_with model: @role, method: :patch, local: true do |f| %>
      <div class="form-group row">
        <%= f.label 'Nombre:', class: 'col-sm-2 col-form-label font-weight-bold' %>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control'%>
        </div>
      </div>
      <br><br>
      <h5 class='text-center'>Permisos</h5>
      <div class="form-group row">
        <table id="dttb" class="table table-hover">
          <thead>
            <tr>
              <th>Modelo</th>
              <th>Crear</th>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= f.label 'Detalle prestamo:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.detail_loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.detail_loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.detail_loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.detail_loan, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Grupo prestamo:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.group_loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.group_loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.group_loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.group_loan, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Estado:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.state, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.state, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.state, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.state, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Tipo de movimientos:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.movement_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.movement_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.movement_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.movement_type, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Préstamo:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.loan, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.loan, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Movimiento:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.movement, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.movement, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.movement, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.movement, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Contacto:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.contact, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.contact, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.contact, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.contact, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Tipo de documento:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.document_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.document_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.document_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.document_type, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Tipo de contacto:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.contact_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.contact_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.contact_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.contact_type, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Dirección:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.address, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.address, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.address, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.address, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Cliente:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.client, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.client, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.client, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.client, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Configuración:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.configuration, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.configuration, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.configuration, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.configuration, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Tipo:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.kind_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.kind_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.kind_type, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.kind_type, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Notificación:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.notification, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.notification, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.notification, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.notification, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Usuario:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.user, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.user, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.user, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.user, class: 'form-check-input'%></td>
            </tr>
             <tr>
              <td><%= f.label 'Perfil:', class: 'col-sm-6 col-form-label font-weight-bold' %></td>
              <td><%= f.check_box @role.profile, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.profile, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.profile, class: 'form-check-input'%></td>
              <td><%= f.check_box @role.profile, class: 'form-check-input'%></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="row col-md-2 offset-md-10">
        <%= f.submit "Guardar", class: 'text-center btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
