<table id="dttb" class="table table-hover table-sm w-100">
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha desembolso</th>
        <th>Nombre</th>
        <th>Monto</th>
        <th>Monto Semanal</th>
        <th>Inicio</th>
        <th>Finaliza</th>
        <th>Ciclo</th>
      </tr>
    </thead>
    <tbody>
      <% statuses = { paid: 'success', pending_pay: 'secondary', pending_accept: 'warning', not_paid: 'danger' } %>
      <% loans.each_with_index do |l, i| %>
        <tr class="table-<%= statuses[l.status&.to_sym] %>">
          <td>
            <%= i.to_i + 1 %>
          </td>
          <td>
            <%= link_to edit_loan_path(l), class: 'nav-link' do %>
              <small><span><%= l.disbursement_date&.in_time_zone('Mexico City')&.strftime("%Y%m%d%r") %></span> <%= l.disbursement_date&.in_time_zone('Mexico City')&.strftime("%d/%m/%Y") %></small>
            <% end %>
          </td>
          <td>
            <%= link_to edit_loan_path(l), class: 'nav-link' do %>
              <%= l.name.capitalize %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_loan_path(l), class: 'nav-link' do %>
              <%= number_to_currency(l.loan_amount, precision: 2) %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_loan_path(l), class: 'nav-link' do %>
              <%= number_to_currency(l.weekly_amount, precision: 2) %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_loan_path(l), class: 'nav-link' do %>
              <%= l.start_date&.strftime("%d/%m/%Y") %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_loan_path(l), class: 'nav-link' do %>
              <%= l.end_date&.strftime("%d/%m/%Y") %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_loan_path(l), class: 'nav-link' do %>
              <%= l.cycle %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Totales:</td>
        <td></td>
        <td></td>
        <td>
          <%= @sums[:amount] %>
        </td>
        <td>
          <%= @sums[:weekly_amount] %>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


<style>
  #dttb span {
    display:none; 
}

</style>

<script>
  $(document).ready(function() {
    $("#dttb").dataTable({
        dom: 'Bfrtip',
        paging: false,
        order: [[ 0, "asc" ]],
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "language": {
            "lengthMenu": "Mostrando _MENU_ renglones por página",
            "zeroRecords": "No hay nada - disculpa",
            "info": "",
            "infoEmpty": "No hay datos disponibles",
            "infoFiltered": "(filtered from _MAX_ total de renglones)",
            "sSearch": "Buscar:",
            "oPaginate": {
              "sFirst":    "Primero",
              "sPrevious": "Anterior",
              "sNext":     "Siguiente",
              "sLast":     "Último"
            },
            "buttons": {
                "copy": "Copiar",
                "print": "Imprimir"
            }
        }
    });
  });
</script>