<!DOCTYPE html>
<html>
  <head>
    <title>Financierav2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'icons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'app-modern', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>    

  </head>

  <body>
    <%= render partial: 'shared/navigation_bar' %>
    <div>
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>


<script>
window.setTimeout(function() {
  $(".alert, .flash").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove(); 
  });
}, 2000);

</script>