<!DOCTYPE html>
<html>
  <head>
    <title>Financierav2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
    <%= render partial: 'shared/navigation_bar' %>
    <div>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>


